h2 {
    font-size: 80px;
    font-family: 'Lobster', cursive;
    text-align: center;
}

p{
    font-family: 'Open Sans', sans-serif;
}

.gatito{
    height: 40%;
}
 div{
    text-align: center;
 }

